{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>YAST</title>
        <link href="{% static "css/style_homePage.css" %}" rel="stylesheet" />
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
        <link href="{% static "css/style.css" %}" rel="stylesheet" />
		<link href="{% static "css/ionicons.min.css" %}" rel="stylesheet" />
        <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" />
</head>

<body>

        <div class="grad"></div>
		<div class="header row">
			<div class="col-sm-5 col-sm-offset-1" style="margin-top:-80px;"> <b>YAST - </b><span><i>You are Somebody's Type</i></span></div>
            
            <hr class="col-sm-4 col-sm-offset-1" style="margin-top:-15px;">
            
            <div class="col-sm-4 col-sm-offset-1" style="margin-top:-5px;">YAST aims to eradicate the blood wastage and address
            the shortage by connecting the right donors with patients.</div>
           <br><br>
            
            <div class="col-sm-2 col-sm-offset-1" style="margin-top:20px;">
                      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="73px" viewBox="0 0 150 73" enable-background="new 0 0 150 73" xml:space="preserve">
                        <polyline fill="none" stroke="#ffffff" stroke-width="1" stroke-miterlimit="10" points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                        />
                      </svg>
            </div>
                    <button type="button" class="btn col-sm-5 col-sm-offset-1" style="margin-top:20px;">Login</button> 

                    
            
            
            <div class="col-sm-7 col-sm-offset-1" style="margin-left:20px">
                      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="73px" viewBox="0 0 150 73" enable-background="new 0 0 150 73" xml:space="preserve">
                        <polyline fill="none" stroke="#ffffff" stroke-width="1" stroke-miterlimit="10" points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                        />
                      </svg>
                    

                    </div>
                    
                             
                    
                    
                       
            
  
        </div>         
		<br>
		</div>

</body>
    <script src="{% static "js/prefixfree.min.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.appear.min.js" %}"></script>
	<script src="{% static "js/jquery.incremental-counter.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script src="{% static "js/bootbox.min.js" %}"></script>
</html>