{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>YAST</title>
<link href="{% static "css/style_homePage.css" %}" rel="stylesheet" />
</head>

<body>
  <div class="body"></div>
        <div class="grad"></div>
		<div class="header">
			<div>YAST - <span><i class="fal fa-heart-rate"></i>You are Somebody's Type</span></div><br>
            <div>YAST aims to eradicate the blood wastage and address the shortage by connecting the right donors with patients.</div>
		</div>
        <i class="fal fa-heart-rate"></i><i class="fal fa-heart-rate"></i><i class="fal fa-heart-rate"></i>
		<br>
		</div>

</body>
<script src="{% static "js/prefixfree.min.js" %}"></script>
</html>